################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CS211/v15/ipch/AutoPCH/ed1848994f3f57ee
