################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CS211/v15/ipch/AutoPCH/ed1848994f3f57ee
/.vs
/Hello World/.vs/Hello World/v15
/Program 1/.vs/Program 1/v15
/Program 2/.vs/Program 2/v15
/Program 3/.vs/Program 3/v15
/Program 4/.vs/Program 4/v15
/Program 5/.vs/Program 5/v15
/Program 6/.vs/Program 6/v15
/Program 6/Debug
/Program 7/.vs/Program 7/v15
/Program 7/Debug
/Program 5/Debug
/Program 2/Debug
/Hello World/Debug
/Program 8/.vs/Program 8/v15
