################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CS211/v15/ipch/AutoPCH/ed1848994f3f57ee
/.vs
/Hello World/.vs/Hello World/v15
/Program 1/.vs/Program 1/v15
/Program 2/.vs/Program 2/v15
/Program 3/.vs/Program 3/v15
/Program 4/.vs/Program 4/v15
/Program 5/.vs/Program 5/v15
/Program 6/.vs/Program 6/v15
/Program 6/Debug
/Program 7/.vs/Program 7/v15
/Program 7/Debug
/Program 5/Debug
/Program 2/Debug
/Hello World/Debug
/Program 8/.vs/Program 8/v15
/Program 8/Debug
/Program 9/.vs/Program 9/v15/.suo
*.db
*.ipch
*.sln
*.vcxproj
*.filters
/Program 9/stdafx.cpp
/Program 9/targetver.h
/Program 9/stdafx.h
*.opendb
/Program 9/Debug/vc141.pdb
/Program 9/Debug/vc141.idb
/Program 9/Debug/stdafx.obj
/Program 9/Debug/Program 9.tlog/Program 9.lastbuildstate
/Program 9/Debug/Program 9.tlog/link.write.1.tlog
/Program 9/Debug/Program 9.tlog/link.read.1.tlog
/Program 9/Debug/Program 9.tlog/link.command.1.tlog
/Program 9/Debug/Program 9.tlog/CL.write.1.tlog
/Program 9/Debug/Program 9.tlog/CL.read.1.tlog
/Program 9/Debug/Program 9.tlog/CL.command.1.tlog
/Program 9/Debug/Program 9.pdb
/Program 9/Debug/Program 9.pch
/Program 9/Debug/Program 9.obj
/Program 9/Debug/Program 9.log
/Program 9/Debug/Program 9.ilk
/Program 9/Debug/Program 9.exe
/Program 10/stdafx.cpp
*.h
/Program 10/.vs/Program 10/v15/.suo
/Program 10/Debug/vc141.pdb
/Program 10/Debug/vc141.idb
/Program 10/Debug/stdafx.obj
/Program 10/Debug/stdafx.nativecodeanalysis.xml
/Program 10/Debug/Program 10.tlog/unsuccessfulbuild
/Program 10/Debug/Program 10.tlog/Program 10.lastbuildstate
/Program 10/Debug/Program 10.tlog/CL.write.1.tlog
/Program 10/Debug/Program 10.tlog/CL.read.1.tlog
/Program 10/Debug/Program 10.tlog/CL.command.1.tlog
/Program 10/Debug/Program 10.pch.codeanalysisast
/Program 10/Debug/Program 10.pch.codeanalysis
/Program 10/Debug/Program 10.log
/Program 10/Debug/Program 10.Build.CppClean.log
*.pch
/Program 10/Debug/Program 10.tlog/link.write.1.tlog
/Program 10/Debug/Program 10.tlog/link.read.1.tlog
/Program 10/Debug/Program 10.tlog/link.command.1.tlog
/Program 10/Debug/Program 10.pdb
/Program 10/Debug/Program 10.ilk
/Program 10/Debug/Program 10.exe
